
		* {
			text-align:center;
			list-style-type: none;
		}
		
		body{
			background: #1E1F25;
		}
		
		h2{
		color:white;
		text-align:center;
		}

		h1{
		color:white;
		}
		
		ul{
			display: flex;
			width: 100%;
			margin: auto;
			max-width: 1000px;
			justify-content: space-between;
			text-align: center;
		}
		
		a{
		padding: 1rem 2rem 1.15rem;
		  text-transform: uppercase;
		  cursor: pointer;
		  color: #ebebeb;
			min-width: 80px;
			margin: auto;
			text-decoration:none;
		}

		li {
			padding: 1rem 2rem 1.15rem;
		  text-transform: uppercase;
		  cursor: pointer;
		  color: #ebebeb;
			min-width: 80px;
			margin: auto;
		}

		a:hover {
		background:rgba(0, 0, 0, 0.4);
		  background:red;
		  padding:20px 20px; #000;

		  text-shadow: 0 -1px 0 #ef816c;
			font-weight: bold;
		}
		
		a:active {
		  transform: translateY(4px);
		}

		#about{
		margin:auto ;
		width: 50%;
		border: 5px double white;
		border-radius: 20px;
		padding: 40px;
		color:white;
		text-align: center;
		font-size: 25px;
		}

		#contact{
		  margin: auto;
		  width: 50%;
		  padding: 10px;
		}

		.contact-form {
				padding: 0 10%;
				margin-top: 100px;
				width: 80%;
		}
				
		input, textarea {
					border: 1px solid #808080;
					font-size: 12px;
					padding: 10px 0;
					text-transform: uppercase;
				}

		input[type="text"] {
					float: left;
					margin-bottom: 8px;
					padding-left: 3%;
					width: 45%;
		}
		
		
		input[type="email"] {
					float: left;
					margin-bottom: 8px;
					padding-left: 3%;
					width: 45%;
		}


		.gutter {
			margin-right: 2.8%;
				
				}

		textarea {
					height: 106px;
					margin-right:270px;
					padding-left: 2%;
					margin-bottom: 20px;
					width: 97%;
		}

		input[type="submit"] {
					background-color: yellow;
					border: none;
					color: black;
					height: 45px;
					width: 100%;
					max-width:93px;
					text-align: center;
		}
		
		input[type="button"] {
					background-color: Green;
					border: none;
					color: black;
					height: 45px;
					width: 120%;
					max-width:93px;
					text-align: center;
		}

		 .set{
		 float:left;
		  width: 31.5%;
		  margin: 5px;
		  height: 300px;

		}

		.images{
		max-width: 100%;
		  max-height: 100%;
		  margin: auto;
		  display: block;
		border-radius: 20px;
		}